<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Forgot Password</h2>
      <div class="row justify-content-start w-100">
        <form action="/api/v1/auth/forgotpassword" method="post" class="mt-4 col-md-5">
          <% if (messages.error) { %>
          <div class="alert alert-danger"><%= messages.error %></div>
          <% } %> <% if (messages.success) { %>
          <div class="alert alert-success"><%= messages.success %></div>
          <% } %>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Your account's email here..." required />
          </div>
          <button type="submit" class="btn btn-success" id="btn-submit" onclick="onSubmit()">Send</button>
        </form>
      </div>

      <hr />

      <a href="../login" class="btn btn-outline-danger mt-3">Back to Login Page</a>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
      function onSubmit() {
        const btn = document.getElementById("btn-submit");
        btn.disabled = true;
        btn.innerHTML = "Please wait....";

        // Get the form element
        const form = document.querySelector('form[action="/api/v1/auth/forgotpassword"]');

        // Submit the form programmatically
        form.submit();
      }
    </script>
  </body>
</html>
