<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Form</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
      /* Custom styles */
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        padding: 20px;
      }
      form {
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      a {
        text-decoration: none;
        color: #007bff;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center">Reset Password</h2>
      <div class="row justify-content-center w-100">
        <form action="/api/v1/auth/resetpassword/<%= token %>" method="post" class="col-md-5">
          <% if (messages.error) { %>
          <div class="alert alert-danger"><%= messages.error %></div>
          <% } %> <% if (messages.success) { %>
          <div class="alert alert-success"><%= messages.success %></div>
          <% } %>
          <input type="text" id="token" name="token" value="<%= token %>" required hidden />

          <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="confirm">Confirm Password:</label>
            <input type="password" id="confirm" name="confirm" class="form-control" required />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Send</button>
          <a href="../login"><button class="btn btn-secondary btn-block mt-2">Back to Login Page</button></a>
        </form>
      </div>

      <hr />
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
